@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', 'sans-serif';
    background-color: var(--gray-3);
  }
  :root {
    --black: #090909;
    --black-1: #555555;
    --white: #FFF;
    --gray-1: #F4F4F4;
    --gray-2: #E1E1E1;
    --gray-3: #E6E8EC;
  } 
}